body {
    font-family: Arial, sans-serif;
    margin: 0, auto;
    color: midnightblue;
    margin: 0px;
    text-align: center;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    max-width: 2000px;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-right: 8px;
    margin-left: 8px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    max-width: 2000px;
    width: 100%;
    background-color: #f0f8ff;
    top: 0;
    z-index: 1000;
}
nav {
    padding: 10px;
}
a {
    text-decoration: none;
}
nav a, header a {
    margin: 0 15px;
    color: midnightblue;
    font-weight: bold;
}
#banner, #athletes {
    background-color: #f0f8ff;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}
#intro, .athlete {
    width: 300px;
}
#intro h1, .athlete h1 {
    font-size: 2.1rem;
}
.ride img, .athlete-img img{
    border-radius: 10px;
    max-width: 400px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 14px;
}
#features{
    margin: 30px 0;
    max-width: 1200px;
    width: 100%;
    
}
.feature {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.feature img{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    max-width: 300px;
    border-radius: 10px;
}
.feature img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#blogs{
    margin: 30px 0;
    max-width: 1200px;
    width: 100%;
}
.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
img {
    border-radius: 5px;
    max-width: 600px;
}
.blog-post p {
    text-align: center;
}
.contact-form{
    max-width: 500px;
    border: thin solid rgb(12, 12, 240);
    box-shadow: 0 0 7px white;
    border-radius: 10px;
    padding: 0px 30px;
    margin-bottom: 30px;
    background-color: #f0f8ff;
    display: block;
    justify-self: center;
    box-shadow: 0 0 10px midnightblue;
    line-height: 1.6;
    margin-right: 7px;
    margin-left: 7px;
}
label {
    display: block;
    margin: 15px 0px;
    font-weight: bold;
}
input, textarea {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
footer {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    max-width: 2000px;
    width: 100%;
}

@media (max-width: 768px) {
    #banner, #athletes {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-post img, .ride img, .athlete-img img {
        width: 250px;
    }
}