.one {
    color: darkgreen;
}
body {
    font-family: Arial, sans-serif;
    margin: 0, auto;
    color: midnightblue;
    margin: 0px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    max-width: 2000px;
    width: 100%;
    background-color: #f0f8ff;
    top: 0;
    z-index: 1000;
    text-align: center;
}
nav {
    padding: 10px;
}
a {
    text-decoration: none;
}
nav a, header a {
    margin: 0 15px;
    color: midnightblue;
    font-weight: bold;
}
main {
    margin-bottom: 80px;
}
main h1 {
    text-align: center;
    margin-top: 100px;
    color: darkblue;
}
footer {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    max-width: 2000px;
    width: 100%;
}
#abouts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    gap: 80px;
    padding: 20px;
}
#text {
    max-width: 600px;
}
#abouts p, #abouts li {
    color: green;
}