body {
    font-family: Arial, sans-serif;
    margin: 0, auto;
    color: midnightblue;
    margin: 0px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    max-width: 2000px;
    width: 100%;
    background-color: #f0f8ff;
    top: 0;
    z-index: 1000;
}
nav {
    padding: 10px;
}
a {
    text-decoration: none;
}
nav a, header a {
    margin: 0 15px;
    color: midnightblue;
    font-weight: bold;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    max-width: 2000px;
    margin-top: 80px;
    margin-right: 0px;
    margin-left: 0px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url('images/pattern.png');
    background-size: cover;
    background-position: center;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 14px;
}
.contact-form{
    max-width: 400px;
    border: thin solid rgb(12, 12, 240);
    box-shadow: 0 0 7px white;
    border-radius: 10px;
    padding: 0px 30px;
    margin-bottom: 30px;
    background-color: #f0f8ff;
    justify-self: center;
    box-shadow: 0 0 10px midnightblue;
    line-height: 1.6;
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 7px;
}
label {
    display: block;
    margin: 15px 0px;
    font-weight: bold;
}
input, textarea {
    width: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
footer {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    max-width: 2000px;
    width: 100%;
}