body {
    font-family: Arial, sans-serif;
    margin: 0, auto;
    color: midnightblue;
}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: left;
    max-width: 10000px;
    margin-top: 100px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    max-width: 2000px;
    width: 100%;
    background-color: #f0f8ff;
    top: 0;
    z-index: 1000;
}
nav {
    padding: 10px;
}
a {
    text-decoration: none;
}
nav a, header a {
    margin: 0 15px;
    color: midnightblue;
    font-weight: bold;
}
#intro-img img{
    max-width: 1200px;
    max-height: 650px;
    width: 100%;
}
form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
    max-width: 1200px;
    width: 100%;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    max-width: 2000px;
    width: 100%;
}