body {
    font-family: Arial, sans-serif;
    margin: 0, auto;
    color: midnightblue;

}
#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    max-width: 10000px;
    margin-top: 100px;
}
header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    max-width: 2000px;
    width: 100%;
    background-color: #f0f8ff;
    top: 0;
    z-index: 1000;
}
nav {
    padding: 10px;
}
a {
    text-decoration: none;
}
nav a, header a {
    margin: 0 15px;
    color: midnightblue;
    font-weight: bold;
}
#banner, #athletes {
    background-color: #f0f8ff;
    padding: 50px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
    align-items: center;
    max-width: 1200px;
    width: 100%;
    
}
#intro, .athlete {
    margin-left: 40px;
}
#intro h1, .athlete h1 {
    font-size: 2.1rem;
}
.ride, .athlete-img{
    margin-right: 40px;
    
}
.ride img, .athlete-img img{
    border-radius: 10px;
    max-width: 400px;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: midnightblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#features{
    margin: 30px 0;
    max-width: 1200px;
    width: 100%;
    
}
.feature {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.feature img{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    max-width: 300px;
    border-radius: 10px;
}
.feature img:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
#blogs{
    margin: 30px 0;
    max-width: 1200px;
    width: 100%;
    
}
.blog-post {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.blog-post img {
    border-radius: 5px;
    max-width: 600px;
}
.blog-post p {
    text-align: center;
}
footer {
    background-color: #f0f8ff;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    max-width: 2000px;
    width: 100%;
}